#map {
    height: 100%;
}
html, body, .map {
    height: 100%; 
    padding: 0;
    background-color: black;
    color:rgb(184, 103, 11);
}

#showPhoto img{
    width: 15em;
    height: 15em;
    padding: 2em;
    align-items: center !important;
}
@media (max-width: 640px) {
    #showPhoto img{
        width: 20em;
        height: 20em;
        padding: 2em;
        float: center;
    }
    h1{
        font-size: 2.8em;
    }
    #map {
        height: 100%;
    }
    html, body, .map {
        height: 90%; 
        padding: 0;
    }
}